@model SurveyApp.Models.Person

@{
    ViewBag.Title = "Подробности участника";
}

<h2>Подробности участника</h2>

<div class="row">
    <div class="col-md-2">
        <strong>@Html.DisplayNameFor(model => model.FullName):</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.FullName)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>@Html.DisplayNameFor(model => model.Age):</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.Age)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>@Html.DisplayNameFor(model => model.Gender):</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.Gender)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Работает:</strong>
    </div>
    <div class="col-md-4">
        @(Model.HasJob ? "Да" : "Нет")
    </div>
</div>

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>